[submodule "fullcalendar"]
	path = fullcalendar
	url = https://github.com/DevHouse-BR/fullcalendar.git
[submodule "fullcalendar-scheduler"]
	path = fullcalendar-scheduler
	url = https://github.com/DevHouse-BR/fullcalendar-scheduler.git
